development:
  DATABASE: zofri_dev
  USERNAME:
  PASSWORD:
  DATABASE_TEST: zofri_text
  ALGOLIASEARCH_APPLICATION_ID:
  ALGOLIASEARCH_API_KEY:
  ALGOLIASEARCH_API_KEY_SEARCH:
  ALGOLIA_PER_PAGE: "12"
  PER_PAGE: "12"
  ALGOLIA_LIMIT: "5000"
  JWT_SECRET:
  SECRET_API:
test:
  ALGOLIASEARCH_APPLICATION_ID:
  ALGOLIASEARCH_API_KEY:
  ALGOLIASEARCH_API_KEY_SEARCH:
  DATABASE: zofri_text
  USERNAME:
  PASSWORD:
  DATABASE_TEST: zofri_text
  ALGOLIA_PER_PAGE: "3"
  PER_PAGE: "3"
  JWT_SECRET:
  SECRET_API:
