<section class="center card">

  <p>
    Tienes un nuevo mensaje en Zofrishop.
  </p>

  <a href=<%= "#{ENV['OWNER_PATH']}/manage_messages/store/#{@room.store_id}/channels_rooms/connect/#{@room.token}" %>>
    <button>
      Ver Mensaje
    </button>
  </a>
  
  <p>Saludos,</p>
  <p>El equipo de Zofrishop</p>
</section>