<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
      *, body{ font-family: 'Arial';}
    </style>
  </head>
  <body >
    <div style="width: 100%; text-align: center; color: #888;" >
        * Este documento cuenta como comprobante de compra y no tiene ningún tipo de validez tributaria. En caso de dudas
        comunicarse directamente con servicio al cliente de Zofrishop enviando un correo a contacto@zofrishop.cl
    </div>
  </body>
</html>